/*
 * This file was created with "better_touch_files"
*/

main {
	padding: 35px;
	height: 92.5vh;
}

.flex {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

select {
	border-color: #bbb;
	min-width: 150px;
}

select * {
	text-align: center;
}

.group {
	text-align: center !important;
}

input {
	display: block !important;
	margin: 10px auto;
}
