@import url('helpers/normalize.css');
@import url('helpers/skeleton.css');
@import url('fonts/hero/stylesheet.css');

html * {
	box-sizing: border-box;
	overflow-x: hidden;
}


html:root {
	--c--darkgray: #1D1C1F;
}

input:not([type="button"]), input:not([type="button"]):focus, input:not([type="button"]):hover {
	background: transparent !important;
}

body,
html {
	font-size: 18px;
	color: var(--c--darkgray);
}

.hero {
	font-family: 'Hero', sans-serif;
	font-weight: 100;
}

main {
	width: 100vw;
	height: 100vh;

	display: table;

	padding: 35px
}

.centered {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.handle {
	padding: 20px;
	display: table;
	width: 100vw;
	-webkit-app-region: drag;
	position: fixed;
	top: 0;
	left: 0;
}

.form {
	width: 70vw;
	height: auto;
	/*text-align: center*/
}

.btn-group {
	width: 100%;
	text-align: center;
}

.form input:not([type="button"]) {
	width: 100%;
}


main.center {
	display: flex;
	justify-content: space-around;
	align-items: center
}

.logo {
	width: 20vw;
	fill: #111
}


input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	transition: background .2s, border-color .2s, color .2s;
}


input[type="button"].active,
input[type="button"]:hover,
input[type="submit"].active,
input[type="submit"]:hover,
input[type="reset"].active,
input[type="reset"]:hover,
button.active,
button:hover {
	background: #333;
	border-color: #333;
	color: #fff;
	overflow: hidden;
}

input[type="button"].active:hover,
input[type="submit"].active:hover,
input[type="reset"].active:hover,
button.active:hover {
	background: transparent;
	color: #555;
	border-color: #bbb;
}
